.main {
  display: grid;
  grid-template-columns: 1;
}

.header {
  padding: 4rem;
  background-color: blueviolet;
}

.body {
  display: grid;
  grid-template-columns: [first] 75% [second] 25%;
}


.searchContainer {
  display: grid;
  grid-template-rows: 0.5fr 3fr;
  padding: 1rem;
  background-color: blue;
}

.searchBar {
  display: grid;
  padding: 0.5rem;
  grid-template-columns: 4fr 0.5fr;
  background-color: rgb(100, 167, 144);
  color: black;
}

.searchInput {
  margin-right: 1rem;
  background-color: azure;
  color: black;
  border: none;
  border-radius: 5px;
}

.searchBtn {
  padding: 0.25rem;
  margin-left: 5rem;
  background-color: beige;
  color: black;
  border-radius: 5px;
  border: none;
}

.searchResults {
  background-color: aliceblue;
  color: black;
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.resultCard {
  background-color: bisque;
  color: black;
  border: 1px forestgreen solid;
  margin: 2rem;
  height: 5vh
}


/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
